/* CSS declarations go here */
@font-face {
    font-family: Bariol;
    src: url(/font/bariol_serif_regular-webfont.ttf);
}

h2
{
    font-family: 'Bariol', serif;
    font-weight: 400;
}

body
{
    font-family: 'Karma', serif;
    font-size: 18px;
}


