<template name='registration'>

    <div class='pusher'>
    {{> header}}

        <div class='ui container'>
            <div class="ui segment">

                <form class="ui form">
                    <h4 class="ui dividing header">Information</h4>

                    <div class="field">
                        <label>Name</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="reg-firstname" placeholder="First Name">
                            </div>
                            <div class="field">
                                <input type="text" name="reg-lastname" placeholder="Last Name">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Credentials</label>

                        <div class="field">
                            <input type="text" name="reg-email" placeholder="Email Address">
                        </div>

                        <div class="two fields">
                            <div class="field">
                                <input type="password" name="reg-password" placeholder="Password">
                            </div>
                            <div class="field">
                                <input type="password" name="reg-repassword" placeholder="Verify Password">
                            </div>
                        </div>
                    </div>

                    <div class="ui button blue fluid" tabindex="0">Register</div>
                </form>

            </div>

        </div>
    </div>


</template>
